<h1>ABOUT US!</h1>

<h3>The Sun Coders</h3>



<%= image_tag "suncoders.jpg" %>



<h5>A Joel Shooster, Abraham Hall, Michael Nauman and Paris Jones Production</h5>

<%= link_to "Home Page", root_path %>

<p>
<%= button_to "Send SMS", notifications_notify_path %>
</p>
