<h1 class="about">ABOUT US!</h1>
<h3 class="about">The Sun Coders</h3>
<div id="sun_coder_img"><%= image_tag "suncoders.jpg" %></div>
<h5 class="about">A Joel Shooster, Abraham-Aaron Hall, Michael Nauman and Paris Jones Production</h5>
<footer class="foot-about">
  <div id="home-about"><%= link_to "Home Page", root_path %></div>
</footer>
