h1 {
  width: auto;
  font-family: Helvetica;
  text-align: center;
  font-size: 60pt;
  text-shadow: 2px 3px 0px #F27D24;
}
.box {
  background-color: #12618A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  width: 800px;
  height: 700px;
  border-radius: 5px;
  border-color: #F27D24;
  border-style: solid;
  border-width: 3px;
}
.label {
  text-align: center;
  position: relative;
  font-size: 15pt;
  font-family: Helvetica;
}
.text {
  text-align: center;
  position: relative;
  margin-right: 5px;
}
.input-large {
  position: center;
  padding: 5px;
  width: 200px;
  height: 50px;
}
.submit {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 10px;
}
footer {
  width: auto;
  background-color: #12618A;
  // position: relative;
  padding-bottom: auto; 
  border-top-style: solid;
  border-color: #F27D24;
  border-width: 3px;
  // z-index: -2;
}
#signup {
  position: center;
  background-color: #FFFFF8;
  border-color: #F27D24;
  border-style: solid;
  border-width: 3px;
  text-aligin: center;
  font-size: 20pt;
  color: #F27D24;
}