h1 {
  width: auto;
  font-family: Helvetica;
  text-align: center;
  font-size: 30pt;
  text-shadow: 2px 3px 0px #F27D24;
}

div.text-center_alert_alert-warning {
  font-color: black;
  background-color: #FFE5A4;
  border-style: solid;
  border-color: #F27D24;
  text-align: center;
  padding: 20px;
  width: auto;
}

.shouts_box {
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  position-align: center;    
  z-index: 5;
}


.shouts {

  width: 300px;
  height: 35px;
  background-color: #E6EBD3;
  z-index: 10;
}




div.text-center_alert_alert-danger {
  font-color: black;
  background-color: #FFE5A4;
  border-style: solid;
  border-color: #F27D24;
  text-align: center;
  padding: 20px;
  width: auto;
}

.login_box {
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  position-align: center;
}

.login_button {
  width: 100px;
  height: 200px;
  margin: 0 auto;
}

.signup_box {
  width: 400px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  position-align: center;  
}

.box {
  background-color: #12618A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  width: 400px;
  height: 350px;
  border-color: #F27D24;
  border-style: solid;
  border-width: 3px;
}

.row-label {
  text-align: center;
  position: relative;
  font-size: 25pt;
  font-family: Helvetica;
  padding: 20px;
  height: 50px;
}

.row-text {
  position-align: center;
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
 } 
.row-login {
  margin-top: 60px;
  
}
.input-large {
  position: center;
  padding: 5px;
  width: 200px;
  height: 50px;
  
 
}
.row-footer {
  width: auto;
  background-color: #12618A;
  position: relative;
  margin: auto;
  padding-bottom: auto;
  border-top-style: solid;
  border-color: #F27D24;
  border-width: 3px;
}
#signup {
  background-color: #FFFFF8;
  border-color: #F27D24;
  border-style: solid;
  border-width: 3px;
  width: 200px;
  height: 75px;
  margin-top: 20px;
  padding: 20px;
  padding-left: 50px;
  padding-bottom: 40px;
  text-aligin: center;
  font-size: 20pt;
  color: #F27D24;
  float: left;

}
#about {
  background-color: #FFFFF8;
  border-color: #F27D24;
  border-style: solid;
  border-width: 3px;
  width: 200px;
  height: 75px;
  margin-top: 20px;
  padding: 20px;
  padding-left: 40px;
  padding-bottom: 40px;
  text-aligin: center;
  font-size: 20pt;
  color: #F27D24;
  float: left;
}

.sun_coder_img {
  position: center;
  border-style: solid;
  border-color: #F27D24;
  border-radius: 2px;
  

}
